h1{
    font-size: 90px;
    color:brown;
    text-align: center;
    text-decoration: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blueviolet;
}
h2{
    font-size: 80px;
    color:rgb(99, 42, 165);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(17, 3, 108);
}
p{
    font-size: 50px;
    color:rgb(42, 87, 165);
    text-align: right;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}